html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Indie+Flower&family=Manrope&family=Marck+Script&family=Poppins:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Poppins", sans-serif;
}

.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.item-center {
  align-items: center;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/*  */
.grids {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
.movie-grids {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.movie-grids img {
  width: 100%;
}
.movie-grids .img-fluid {
  height: 50%;
}
.col .card-text {
  font-family: "Indie Flower", cursive;
}
.col .card-subtitle {
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0.5rem 0;
}
.genre-card {
  /* border: 1px solid grey; */
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.genre-card:hover {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.genre-card h5 {
  font-size: 0.9rem;
  font-weight: 600;
}
.genre-card p {
  font-size: 0.75rem;
}

@media screen and (max-width: 772px) {
  .grids {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
}

@media screen and (max-width: 560px) {
  .grids {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding-left: 0;
  }
  #pagination .pagination {
    --bs-pagination-font-size: 0.7rem;
  }
}
